<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>body{padding:1em}</style>
    <link rel="canonical" href="index.html">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{{page.title}}</title>
    <link href="//stopaapihate.us/" rel="author"/>
    <meta name="keywords" content="stop,asian,hate"/>
    <meta name="description" content="Stop anti-Asian hate."/>
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="Stop anti-Asian hate."/>
    <meta property="og:url" content="//stopaapihate.us/"/>
    <meta property="og:image" content="favicon.ico" />
    <meta property="og:image:secure_url" content="favicon.ico" />
    <meta property="og:image:type" content="image/gif" />
    <meta property="og:image:width" content="32" />
    <meta property="og:image:height" content="32" />
    <meta property="og:type" content="website" />
  </head>
  <body>
{{content}}
  </body>
{% include footer.html %}
</html>
